@model Service
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Are you sure you want to delete the instructor: @Model.ServiceName?</h1>
<div class="btn-group">
	<form asp-action="DeleteConfirm" asp-controller="Service" asp-route-id="@Model.Id">
		<button type="submit" class="btn btn-success">Confirm</button>
	</form>
	<form asp-action="Index" asp-controller="Service">
		<button type="submit" class="btn btn-danger">Cancel</button>
	</form>
</div>
