@{
	ViewData["Title"] = "ShowService";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
	<thead class="table-dark">
		<tr>
			<th>Service name</th>
			<th>Price</th>
			<th>Description</th>
			<th>Type</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@ViewBag.service.ServiceName</td>
			<td>@ViewBag.service.Price</td>
			<td>@ViewBag.service.ServiceDescription</td>
			<td>@ViewBag.service.ServiceType</td>
		</tr>
	</tbody>
</table>

