@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Contact us</h1>
<div class="container">
	<p><b>Phone</b></p> 
	<p>+45 20928490</p>
	<p><b>Address</b></p>
	<p>
		Autoværkstedet Birk <br />
		Fangelvej 74B <br />
		5260 Odense
	</p>
	<img src="~/Images/map.jpg" alt="map of location"/>
</div>
