
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Well that was a dead end...</h1>
<img src="~/images/nooooImg.jpg" alt="ALT: Meme from The Office of Michael Scott yelling 'Noooo!'"/>
