
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <link rel="stylesheet" href="~/CSS/mycss.css"/>
</head>
<body>
    <h1>Hello from homepage view.</h1>
    <a href="https://www.google.com/"><img src="~/Images/restaurantImage.png" alt="Restaurant image" title="Restaurant image"/></a>
</body>
</html>
